<!DOCTYPE html>
<html lang="en">

<head>
    <title>Faq</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="stylesheet" href="/static/styles/command.css" />
</head>

<body>
    <div class="container">
        <div class="title">
            Deta Community Faq
        </div>
        <ul class="sections">
            <li class="section">
                <a href="/1">Can I host a discord bot?</a>
            </li>
            <li class="section">
                <a href="/2">How does deta make money?</a>
            </li>
        </ul>
        <div class="bottom">
            <a href="https://github.com/SlumberDemon/faqs">Source</a>
        </div>
    </div>
    <div class="disclaimer">
        This website is not affiliated with deta
    </div>
</body>

</html>