<!DOCTYPE html>
<html lang="en">

<head>
    <title>Faq</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <link rel="stylesheet" href="/static/styles/command.css" />

    <meta property="og:image" content="/static/images/icon.png" />
    <meta property="og:description" content="Read more..." />
    <meta name="url" content="https://faq.deta.dev/">
    <meta property="og:title" content="Can I host a discord bot?" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#F73A95">
</head>

<body>
    <div class="container">
        <div class="title">
            <a href="/" style="text-decoration: none;">←</a> Can I host a discord bot?
        </div>
        <div class="content">
            <div class="content-text">
                Yes, but there are some limitations. You can only host an interactions only discord bot which means it
                will only have things like: slash commands, buttons, context menus, modals, etc. This is because deta is
                a <a href="https://www.cloudflare.com/learning/serverless/what-is-serverless/">serverless platform</a>
                and does not have websockets which is required by a lot of packages/libraries for
                making discord bots
            </div>
        </div>
        <div class="bottom">
            <a href="https://github.com/SlumberDemon/faqs">Source</a> / <a
                href="https://github.com/SlumberDemon/faqs/tree/master/templates/faqs/{{ page }}">Edit</a>
        </div>
    </div>
</body>

</html>